.questions-container{
    height: 100vh;
    background-color: rgb(136, 234, 241);
    padding:20px;
}

.questions{
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px rgb(70, 68, 68);
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: 95vh;
    background-color: rgb(144, 182, 233);
}

.lifeline-container{
    padding-top:30px;
    padding:20px;
}
.lifeline-hint{
    float: left;
}
.lifeline-count{
    float: right;
}

.timer-container{
    padding:20px;
    text-align: center;
}

.question-div{
    margin:10px;
    padding:30px;
    background-color: rgb(125, 207, 228);
    border:3px solid rgb(169, 245, 235);
    color:rgb(63, 61, 61);
    border-radius:10px;
    font-size: 1.3rem;
    text-align: center;
}

.options-container{
    text-align: center;
}

.options-container p{
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(97, 94, 94);
    text-align: center;
    padding:5px;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius:10px;
    background-color: rgb(108, 252, 89);
}

.options-container p:hover{
    cursor: pointer;
    box-shadow: 4px 4px 10px rgb(71, 71, 71);
    text-align: center;
    padding:5px;
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius:10px;
    background-color: rgb(66, 214, 47);
}


.button-container{
    padding:20px;
    text-align: center;
}

.button-container button{
    width: 100px;
    font-size: 1.3rem;
    padding:5px;
    margin-right: 8%;
    margin-left: 8%;
    border-radius: 10px;
    background-color: rgb(101, 115, 240);
    color: wheat;
    border:2px solid white;
    cursor: pointer;
}

.quit-button-container{
    text-align: center;
    padding:5%;
}

.quit-button-container button{
    width: 100px;
    font-size: 1.3rem;
    padding:5px;
    border-radius: 10px;
    background-color: rgb(255, 44, 44);
    color: wheat;
    border:2px solid white;
    cursor: pointer;
}

.toast-valid{
    background-color:rgb(9, 255, 9);
    font-weight: bold;
    
}

.toast-invalid{
    background-color: rgb(252, 98, 98);
    font-weight: bold;
    
}

.hints-icon{
    color:yellow;
    cursor: pointer;
}

.lifeline-hint{
    font-weight: bold;
}

.lifeline-count{
    margin-top: 20px;
    font-weight: bold;
}

@media (max-width:1028px){

    .questions{
        border-radius: 10px;
        box-shadow: 5px 5px 20px 5px rgb(70, 68, 68);
        margin-left: auto;
        margin-right: auto;
        max-width: 96%;
        height: 95vh;
        background-color: rgb(144, 182, 233);
    }  
}